<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Scan for eco friendly</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <!-- navbar -->
    {% include 'navbar.html' %}
    <h1> Scan for a better future!</h1>
    <h4> Click on the scan button to get more information about how your product was made</h4>
    <!-- to open camera and scan -->
     <div class="scanbtn"> <p> <button type="button" class="btn btn-success mx-2"> Scan Image</button> </p> </div>
<!-- if not camera then upload an image  -->
<div class="mb-3">
    <h4> Drop an image to scan  </h4> 
    <input class="form-control" type="file" id="formFile">
  </div>
  <div class="scanbtn"> <p> <button type="button" class="btn btn-success mx-2"> Scan Image</button> </p> </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>